/*

Cornell Notes
By: Jose Moruno Cadima aka @sniferl4bs 
https://youtube.com/sniferl4bs
v0.2
*/
:root {
    --sticky-note-color: transparent;
}

/* Font size for footnotes in Cornell notes */
.cornell .footnotes {
    font-size: 16px;
}

/* Styling for the horizontal line separating footnotes */
.cornell .footnotes>hr {
    background-color: red !important;
    height: 2.5rem;
    visibility: hidden;
}

/* Styling for the "Resumen" text in the horizontal line */
.cornell .footnotes>hr:after {
    content: 'http://www.w3.org/2000/svg';
    color: skyblue;
    border-bottom: 2px dashed orangered;
    visibility: visible;
    font-size: 22px;
    padding: 0.1rem;
    padding-left: 0.1rem;
    margin-top: 0.2rem;
}

/* Hide the horizontal line before footnotes */
.cornell .footnotes>hr:before {
    visibility: hidden;
    display: none;
}

/* Hide the markdown-embed-title in Cornell notes */
.cornell-clean .markdown-embed-title {
    display: none;
}

/* Hide list bullets */
.cornell .list-bullet {
    display: none;
}

/* Custom styling for clean embeds in Cornell notes */
.cornell .clean-embeds {
    --embed-background: inherit;
    --embed-border-left: 0px solid var(--interactive-accent);
    --embed-border-right: none;
    --embed-border-top: none;
    --embed-border-bottom: none;
    --embed-padding: 0 0 0 0;
    --embed-font-style: inherit;
}

.cornell .clean-embeds .markdown-rendered .markdown-embed {
    max-width: 100%;
}

.cornell .clean-embeds .markdown-rendered .markdown-embed .markdown-rendered {
    padding-left: 0;
}

.cornell .clean-embeds .markdown-embed-link {
    visibility: hidden;
}

/* Styling for spaced lines in Cornell notes 
Desc: Style cornell-notes in Obsidian based on plugin Timeline CSS. 
Mod Cornell Vault: Jose Moruno Cadima <sniferl4bs> youtube.com/sniferl4bs */

/* Styling for Cornell note lists */
.cornell ul:not(ul ul) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 0.9rem;
    margin: 0.2rem 0;
}

.cornell ul:not(ul ul) > li:nth-child(3n+1), .cornell ul:not(ul ul) > li:nth-child(3n+2) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0.1em;
}

/* Styling for specific list items' content */

/* CLUE - Sticky note */

.cornell ul:not(ul ul) > li:nth-child(3n+1) {
    align-items: left;
    grid-column: 1;
    font-family: Arial, sans-serif;
    justify-self: left;
    text-align: left;
    font-size: 1.1rem;
    width: 200px;
    padding: 3px;
    background-color: #fffbe6;
    color: black;
    border: 1px solid #ffc900;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #ccc;
    line-height: 1.4;
}

/* Title */
.cornell ul:not(ul ul) > li:nth-child(3n+2) {
    grid-column: 3;
    position: relative;
    justify-self: left;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bold;
    color: #97CCE8;
    line-height: 1.3;
    text-align: justify;
    word-wrap: break-word;
    margin-top: 0.3rem;
    font-size: 1.0rem;
}

/* Content*/
.cornell ul:not(ul ul) > li:nth-child(3n) {
    grid-column: 3;
    position: relative;
    justify-self: left;
    text-align: left;
    font-size: 1.2rem;
}

/* Styling for the background color and separator lines */
.cornell ul:not(ul ul) > li:nth-child(3n+1)::before {
    background-color: var(--background-primary);
}

.cornell ul:not(ul ul) > li:nth-child(3n+1)::after {
    background-color: var(--text-normal);
    opacity: 0.25;
}

.cornell ul:not(ul ul) > li:nth-child(3n) {
    position: relative;
    margin-bottom: 2.7rem;
    padding-top: 0.3em;
}

.cornell ul:not(ul ul) > li:nth-child(3n)::after {
    content: '';
    position: absolute;
    border-bottom: 0.1rem dashed var(--text-normal);
    opacity: 0.1;
    width: 100%;
    left: 0;
    bottom: -2.25rem;
    transform: translateY(50%);
}

/* Hide the separator line for the last list item */
.cornell ul:not(ul ul) > li:nth-child(3n):last-child {
    margin-bottom: 0.4em;
}

.cornell ul:not(ul ul) > li:nth-child(3n):last-child::after {
    display: none;
}

/* Styling for the middle line in Cornell notes */
.cornell ul:not(ul ul)::before {
    content: '';
    height: 100%;
    width: 0.1rem;
    grid-column: 2/span 1;
    grid-row-start: 1;
    grid-row-end: span 1000;
    background-color: var(--text-normal);
    opacity: 0.1;
    width: 0.15rem;
    background-color: transparent;
    background-image: linear-gradient(var(--text-normal) 60%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 0.15rem 1.5rem;
    background-repeat: repeat-y;
}

element.style {
    margin-top: -100px;
}

/* */

img {
    margin-top: 4px;
    border-radius: 4px;
    overflow: hidden;
}

/* right */
img[alt~='img-right'] {
    float: right;
    margin-left: 1rem;
}

/* left */
img[alt~='img-left'] {
    float: left;
    margin-right: 1rem;
}

/* center */
img[alt~='img-center'] {
    display: block;
    margin: auto;
    /* margin-right: auto;
  margin-left: 40%; */
}

/* round */
img[alt~='round'] {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

/* avatar */
img[alt~='avatar'] {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}

/* portrait */
img[alt~='portrait'] {
    width: 240px;
    height: 400px;
    object-fit: cover;
}

/* add banner to image */
img[alt="banner"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(180deg, white, white, white, transparent);
    mask-image: none;
    object-position: 50% var(--banner-v-align);
    border-radius: 0 !important;
    pointer-events: none;
}


/* hide frontmatter bc of transparency mask */
.markdown-preview-view img:is([alt="banner"], [alt="banner-b"]) .frontmatter-container {
    display: none;
}

.bc-10 img[alt="banner"] {
    object-position: 50% 10%;
}

.bc-20 img[alt="banner"] {
    object-position: 50% 20%;
}

.bc-30 img[alt="banner"] {
    object-position: 50% 30%;
}

.bc-40 img[alt="banner"] {
    object-position: 50% 40%;
}

.bc-50 img[alt="banner"] {
    object-position: 50% 50%;
}

.bc-60 img[alt="banner"] {
    object-position: 50% 60%;
}



/*Image descriptions */
.image-embed[src*="#cap"]::after {
    content: attr(alt);
    color: var(--text-normal);
    display: flex;
    font-size: smaller;
    max-width: fit-content;
    padding: 2px 8px;
    margin-top: -6px;
    text-align: center;
}




/*
Desc: Style obsidian-notes to look like academic papers when exported as pdf.
      Include this file in your obsidian snippets folder and activate within obsidian.

Auth: Nicklas Vraa
Mod Cornell Vault: Jose Moruno Cadima <sniferl4bs> youtube.com/sniferl4bs
*/

@media print {

    /* Document-wide. ---------------------------------------------------------------------- */
    @page { /* Page structure. */
        margin: 2cm !important;
    }
    a:link, a:visited, a { /* Links. */
        color: black !important;
        text-decoration: none !important;
    }

    /* Main body of text. ------------------------------------------------------------------ */
    body {
        tab-size: 4 !important;
        --code-background: white !important;
        --code-normal: black !important;
    }
    p {
        font-family: "Latin Modern Roman" !important;
        font-size: 10pt !important;
        text-align: justify !important;
        line-height: 1.2 !important;
        margin-top: 5px !important;
    }
    strong {
        font-weight: bold !important;
    }

    /* Header styling and automatic numbering. --------------------------------------------- */
    h1, h2, h3, h4, h5, h6 {
        font-family: "Latin Modern Roman" !important;
        color: black !important;
        page-break-after:avoid;
        page-break-inside:avoid;
        font-size: 12pt !important;
        font-weight: bold !important;
        line-height: 1 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 20px !important;
    }
    h1 { /* Title. */
        font-family: "Latin Modern Roman Caps" !important;
        text-align: center !important;
        font-size: 18pt !important;
        font-weight: normal !important;
        margin-top: 0px !important;
        counter-reset: H2;
    }
    h6 { /* Subtitle. */
        font-family: "Latin Modern Roman Caps" !important;
        text-align: center !important;
        font-size: 11pt !important;
        font-weight: normal !important;
        margin-top: 6px !important;
    }
    h2:before {
        counter-increment: H2;
        content: counter(H2) ". \0000a0";
    }
    h2 {counter-reset: H3;}
    h3:before {
        counter-increment: H3;
        content: counter(H2) "." counter(H3) ". \0000a0";
    }
    h3 {counter-reset: H4;}
    h4:before {
        counter-increment: H4;
        content: counter(H2) "." counter(H3) "." counter(H4) ". \0000a0";
    }

    /* Credits. ---------------------------------------------------- */

    del { /* Credits, i.e. author information. */
        font-family: "Latin Modern Roman" !important;
        display: block !important;
        text-align: center !important;
        font-size: 10pt !important;
        text-decoration: none;
        margin-top: 8px !important;
        padding-bottom: 10px !important;
    }

    /* Code and math blocks. --------------------------------------------------------------- */
    pre { /* background and border of block. */
        background-color: #fff !important;
        border-style: dashed !important;
        border-radius: 0px !important;
        border-width: 1px 0px !important;
        border-color: darkgray !important;
        line-height: 1 !important;
    }
    code {
        font-family: "Latin Modern Mono" !important;
        font-size: 10pt !important;
        color: #292929 !important;
    }
    mjx-math {
        font-size: 90% !important;
    }
    math-block {
        page-break-before: avoid !important;
    }

    /* Figures. ---------------------------------------------------------------------------- */
    svg, img {
        display: block !important;
        /* filter: invert(100%) !important; */
        page-break-inside: avoid !important;
        page-break-after: avoid !important;
        margin: 10px auto 5px !important;
    }
    figcaption {
        font-family: "Latin Modern Roman" !important;
        text-align: center !important;
        margin-bottom: 16px !important;
        font-size: 8pt !important;
    }

    /* Tables. ----------------------------------------------------------------------------- */
    table, pre {
        page-break-inside: avoid !important;
    }
    table {
        font-family: Times !important;
        font-size: 10pt !important;
        text-align: center !important;
        margin: 10px auto 5px !important;
        border-top: 1px solid #292929 !important;
        border-bottom: 1px solid #292929 !important;
    }
    th { /* Table headers. */
        color: black !important;
        font-weight: normal !important;
        border: none !important;
        border-bottom: 1px solid darkgray !important;
        padding: 2px 5px !important;
    }
    td {
        border: none !important;
        padding: 2px 5px !important;
    }

    /* Lists ------------------------------------------------------------------------------- */
    ul, ol, dl {
        page-break-before: avoid !important;
        font-family: "Latin Modern Roman" !important;
        font-weight: normal !important;
        font-size: 11pt !important;
        line-height: 1.1 !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
    ul li { /* Adjusts size of bullet points. */
        list-style-type: none !important;
        position: relative !important;
    }
    ul li::before {
        content: none !important;
        position: absolute !important;
        left: -1.15em !important;
        top: -0.05em !important;
        font-size: 1.1em !important;
    }



    /* Horizontal separator. --------------------------------------------------------------- */
    hr { /* Manual page-break using "---". */
        border: none !important;
        border-top: 0px solid lightgray !important;
        /*page-break-after: always !important;*/
    }

    /* Additional settings. ---------------------------------------------------------------- */
    blockquote {
        display: block !important;
        text-align: center !important;
        font-size: 10pt !important;
        color: black !important;
        border: none !important;
        padding: 0px !important;
        margin: 5px auto !important;
    }
    .mermaid { /* Inline diagrams. */
        color: black !important;
    }
}
